
* {
  box-sizing: border-box;
  color: red
}
body {
  margin: 0;
}

.nav {
  background-color: grey;
  color: white;
  display: flex;
  justify-content: space-between;
}

.nav a {
  color: inherit;
}

